 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
    text-transform: capitalize;
    text-decoration: none;
}  
body{
    min-height: 100vh;
    background-color: lightblue;
    background-image: url("thumb-1920-679478.jpg");
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: cyan;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 0px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}



 
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}
header .navbar ul li a:hover{
    background-color: #333;
    color: #fff;

}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: cyan;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0,0 , 0.1);
    
}
header .navbar ul li ul li ul{
    left: 200px;
    top:0;
    
}


header nav ul li:focus-within > ul,   
header .navbar ul li:hover > ul{
    display: initial;
} 
#menu-bar{
    display: none;
}
header label{
   font-size: 20px; 
   color: #333;
   cursor: pointer;
   display: none;
}


@media(max-width:991px){
    header{
        padding: 20px;
        
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        border-top: 1px solid rgba(0,0,0,0.1);
        background-color: #fff;
    }
    header .navbar ul li{
        width: 100%;

    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background: #eee;
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
} 
   